<!doctype html>
<html class="no-js" lang="">
<head>
    <%- include("modular/headTag") -%>
    <link rel="stylesheet" href="Wizard/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="Wizard/vendor/date-picker/css/datepicker.min.css">
    <link rel="stylesheet" href="Wizard/css/style.css">
</head>

<body>
    <%- include("modular/leftPanel") -%>

    <div id="right-panel" class="right-panel">
        <%- include("modular/header") -%>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div 
                        style="background: linear-gradient(40deg,#4caf5014,#ffeb3b17);
                        border-radius: 3px;
                        border: 3px solid #d5d5d500;
                        color: #333333;
                        border-image-source: linear-gradient(to right, #4caf5080, #9c27b0a8, #03a9f4a6);
                        border-image-slice: 1;
                        font-family: inherit;
                        font-size: inherit;
                        font-stretch: inherit;
                        font-style: inherit;
                        font-variant: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        margin: 0px;
                        padding: 1em;
                        vertical-align: baseline;">Bạn đã hoàn thành quy trình kich hoạt mã giới thiệu. Trở lại bảng điều khiển để sao chép liên kết và chia sẻ !</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <%- include("modular/scriptTag") -%>
    <script src="Wizard/js/jquery.steps.js"></script>

    <script src="Wizard/js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/socket.js"></script>
</body>
</html>