<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng Nhập - Thiên Minh Hưng Phát</title>
    <meta name="description" content="Thiên Minh Hùng Phát">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Font Icon -->
    <link rel="stylesheet" href="./fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>

    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="images/login.jpg" alt="sing up image"></figure>
                        <a href="<%= signup %>" class="signup-image-link">Đăng ký tài khoản</a>
                        <a href="<%= forgot %>" class="signup-image-link">Quên mật khẩu?</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Đăng Nhập</h2>
                        <h3 style="color:#ff6666;"><%= check%></h3>
                        <form action="<%= dashboard %>" method="POST" class="register-form" id="login-form">

                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email material-icons-name"></i></label>
                                <input required type="email" name="email" id="email" placeholder="Your Email" onchange="email_validate(this.value);"/>
                            </div>

                            <div class="status" id="status" style="color:#ff6666;"></div>

                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock material-icons-name"></i></label>
                                <input required type="password" minlength="4" maxlength="16" name="password" id="password" placeholder="Password"/>
                            </div>

                            <div class="form-group">
                                <label for="2fa"><i class="zmdi zmdi-google-glass material-icons-name"></i></label>
                                <input type="number" name="2fa" id="2fa" placeholder="Your 2FA (Optional)"/>
                            </div>

                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./js/login.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>