<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng Ký - Thiên Minh Hưng Phát</title>
    <meta name="description" content="Thiên Minh Hùng Phát">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Font Icon -->
    <link rel="stylesheet" href="./fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="./css/signup.css">
</head>
<body>

    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Đăng Ký</h2>
                        <form action="<%= login %>" method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="firstname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input required type="text" name="firstname" id="firstname" placeholder="Your Firstname" onkeyup="Validate(this)"/>
                            </div>

                            <div class="form-group">
                                <label for="lastname"><i class="zmdi zmdi-face material-icons-name"></i></label>
                                <input required type="text" name="lastname" id="lastname" placeholder="Your Lastname" onkeyup="Validate(this)"/>
                            </div>

                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account-box material-icons-name"></i></label>
                                <input required type="text" name="username" id="username" placeholder="Your Username" onkeyup="Validate(this)"/>
                            </div>

                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-phone material-icons-name"></i></label>
                                <input required type="tel" maxlength="28" name="phone" id="phone" placeholder="Your Phone" onkeyup="validatephone(this);"/>
                            </div>

                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email material-icons-name"></i></label>
                                <input required type="email" name="email" id="email" placeholder="Your Email" onchange="email_validate(this.value);"/>
                            </div>

                            <div class="status" id="status" style="color:#ff6666;"></div>

                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock material-icons-name"></i></label>
                                <input required type="password" minlength="4" maxlength="16" name="password" id="password" placeholder="Password"/>
                            </div>

                            <div class="form-group">
                                <label for="re_pass"><i class="zmdi zmdi-lock-outline material-icons-name"></i></label>
                                <input required type="password" minlength="4" maxlength="16" name="re_pass" id="re_pass" placeholder="Repeat your password" onkeyup="checkPass(); return false;"/>
                            </div>

                            <div class="form-group">
                                <label for="code"><i class="zmdi zmdi-apple material-icons-name"></i></label>
                                <input required type="number" name="code" id="code" placeholder="Your Code" value="<%= code %>"/>
                            </div>

                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="./images/signup.jpg" alt="sing up image"></figure>
                        <a href="<%= login %>" class="signup-image-link">Tôi đã là thành viên</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./js/signup.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>